<ion-view class="main-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Welcome to Telling</span>
  </ion-nav-title>
  <ion-content>
      <a class="item item-icon-left item-icon-right" href="#" ng-controller="InAppBrowserCtrl" ng-click="openBrowser()">
          <img src="img/yourstories.svg" class="your-stories col-sm-12">
    <a href="/#/reportingtools"><img src="img/reportlanding.svg" class="report">
        <a href="/#/games"><img src="img/games.svg" class="games">
        </a>
        
  </ion-content>
</ion-view>


