<ion-view class="main-view">
    <ion-nav-title>
        <span>Telling</span>
    </ion-nav-title>
    <ion-content>
        <a ui-sref="app.wordpress">
            <img src="img/yourstories.svg" class="your-stories">
        </a>
        <a ui-sref="app.reportingtools">
            <img src="img/reportlanding.svg" class="report">
        </a>
        <a ui-sref="app.games">
            <img src="img/games.svg" class="games">
        </a>
        <a ui-sref="app.wordpress">
            <img src="img/communitystories.png" class="communitystories">
        </a>
    </ion-content>
</ion-view>