<ion-view class="tinder-cards-view">
  <ion-nav-title>
    <span>Opinion or Newz?</span>
    <span>{{score}} / {{total}}</span>
  </ion-nav-title>
  <ion-content scroll="false">
    <td-cards>
      <td-card class="card" id="td-card" ng-repeat="card in cards"
      on-transition-left="transitionLeft(card)"
      on-transition-right="transitionRight(card)"
      on-transition-out="transitionOut(card)"
      on-destroy="cardDestroyed($index)"
      on-swipe-left="cardSwipedLeft($index)"
      on-swipe-right="cardSwipedRight($index)"
      on-partial-swipe="cardPartialSwipe(amt)">
        <div class="abstract">
          <div class="no-text overlayBox">
            <div class="noBox boxed">
              Opinion
            </div>
          </div>
          
          <div class="yes-text overlayBox">
            <div class="yesBox boxed">
              News
            </div>
          </div>
        </div>
        <div class="title">
          {{card.title}}
        </div>
      <img class="tinder-image" src="{{card.image.url}}"/>
      <p>{{card.lead}}</p>
        
      </td-card>
    </td-cards>
  </ion-content>
</ion-view>
