<ion-view class="profile-view">
  <ion-nav-title>
    <span>Profile</span>
  </ion-nav-title>
  <ion-content>
    <div class="top-content row">
      <div class="profile-container">
        <img class="user-image" ng-src="../img/cassie.png">
        <div class="user-name">Cassie</div>
        <div class="user-twitter">Berkeley, CA</div>
      </div>
      <div class="user-background-image" style="background: url('../img/cassie.png') no-repeat 0 50%"></div>
    </div>
    <div class="bottom-content">
      <div class="user-bio">
        <p>Cassie makes photos and films. Her photos often refers to pop and mass culture. She focuses on the idea of ‘public space’ and more specifically on spaces where anyone can do anything at any given moment: the non-private space, the non-privately owned space, space that is economically uninteresting.</p>
      </div>
    </div>
  </ion-content>
</ion-view>
