<ion-view class="profile-view">
  <ion-nav-title>
    <span>Profile</span>
  </ion-nav-title>
  <ion-content>
    <div class="top-content row">
      <div class="profile-container">
        <img class="user-image" ng-src="../img/cassie.jpg">
        <div class="user-name">Cassie</div>
        <div class="user-twitter">Berkeley, CA</div>
      </div>
      <div class="user-background-image" style="background: url(../img/cassie.jpg) no-repeat 0 50%"></div>
    </div>
    <div class="bottom-content">
      <div class="user-bio">
        <p>Let me tell you something my friend, hope is a dangerous thing. Hope can drive a man insane. Cities fall but they are rebuilt. Heroes die but they are remembered. Circumstances have taught me that a man's ethics are the only possessions he will take beyond the grave.</p>
      </div>
    </div>
  </ion-content>
</ion-view>
