
<ion-view>
    <ion-nav-title>
        <span>Pyramid Game</span>
    </ion-nav-title>
    <ion-content>
        <div class="pyramid">
            <!-- How To -->
            <div class="howto">
                <h1 class="animated fadeIn">HOW TO PLAY</h1>
                <hr color="#a5c2ea" size="1" width="5%">
                <div class="animated fadeIn">
                    <p>Read/watch the story</p>
                    <p>Look for the most important thing</p>
                    <p>Drag and drop events in order of importance</p>
                </div>
                <hr color="#a5c2ea" size="1" width="5%">
            </div>
            <p class="story">{{story}}</p>
            <ul id="items">
                <li id="ev1"><span>{{ev1.text}}</span>
                </li>
                <li id="ev2"><span>{{ev2.text}}</span>
                </li>
                <li id="ev3"><span>{{ev3.text}}</span>
                </li>
                <img src="../img/go.png" ng-click="go()"/>
            </ul>

            </div>
            <span id="results" ng-show="submit">{{message}}</span>
        </ion-content>
    </div>
</ion-view>