<ion-view>
    <ion-nav-title>
        <span>Reporting Tools</span>
    </ion-nav-title>
    <ion-content class="has-header">
        <a ui-sref="app.photocapture">
            <img src="img/photostory.svg" class="report col-xs-12 col-md-8">
        </a>
        <a ui-sref="app.videorecord"><img src="img/videostory.svg" class="report col-xs-12 col-md-8"> </a>
        <a ui-sref="app.audiorecord"><img src="img/audiostory.svg" class="report col-xs-12 col-md-8"> </a>
        <a ui-sref="app.textinput">
            <img src="img/notes.svg" class="report col-md-6">
        </a>
    </ion-content>
</ion-view>