<ion-view>
    <ion-nav-title>
        <span>Reporting Tools</span>
    </ion-nav-title>
    <ion-content class="has-header reportingtools">
        <a ui-sref="app.photocapture">
            <img src="img/photostory.jpg" class="report col-xs-12 col-md-8">
        </a>
        <a ui-sref="app.videorecord"><img src="img/videostory.jpg" class="report col-xs-12 col-md-8"> </a>
        <a ui-sref="app.audiorecord"><img src="img/audiostory.jpg" class="report col-xs-12 col-md-8"> </a>
        <a ui-sref="app.textinput">
            <img src="img/notes.jpg" class="report col-md-6">
        </a>
         
        <a ui-sref="app.wordpresspost">
            <img src="img/createarticle.png" class="communitystories">
        </a>
    </ion-content>
</ion-view>