.main-view
{

    
}
    .yourstories{
        width: 100%;
        float: left;
    position: relative;
    }
.report{
    width: 50%;
    float: left;
    position: relative;
    display: block;
}

.games{
    width: 50%;
    float: left;
    position: relative;
    display: block;
}

.communitystories {
    width: 100%;
        float: left;
    position: relative;
    
}
