.main-view {}
ion-content {
    
    background: url("../img/bg-6.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.menu {
    ion-content {
        background: none;
    }
    .scroll-content {
        background-color: #252525;
    }
}

.yourstories {
    width: 100%;
    float: left;
    position: relative;
}

.report {
    width: 50%;
    float: left;
    position: relative;
    display: block;
}

.games {
    width: 50%;
    float: left;
    position: relative;
    display: block;
}

.communitystories {
    width: 100%;
    float: left;
    position: relative;
}